
@model BlogApp.Views.Models.ArticleModel

<div class ="wrap-article">
    @if(Model != null)
    { 
    <h2>@Model.Title</h2>
    <p class="date">
        <span>@Model.Date.ToString("D")</span> <span>@Model.Date.ToString("t")</span>
    </p>
    <div class="text-block">
        <p>
            @Html.Raw(Model.Body)
        </p>
    </div>
    }
</div>
<div class="wrap-comments">
    <h2>Комментарии</h2>
    <ul class="list-comment">
        @if(Model.Comments != null)
        { 
            foreach (var item in Model.Comments.Zip(Model.Usernames, (a, b) => new { A = a, B = b }))
            {
                <li>
                    <div class="avatar">
                        <a href="#"><img src="~/Content/images/avatar-comment.png" alt="" /></a>
                    </div>
                    <div class="comment-text">
                        <p class="date">
                            <span>@DateTime.Now.ToString("D")</span><span>@DateTime.Now.ToString("T")</span>
                        </p>
                        <p class="Username">
                            @item.B
                        </p>
                        <p class="Comment">
                            @item.A
                        </p>
                    </div>
                </li>
            }
        }
    </ul>
    @Html.Partial("~/Views/Home/AddComment.cshtml", null, new ViewDataDictionary())
    
</div>